<div class="hemisphere-toggle-container">
  <mat-button-toggle-group
    name="hemisphere"
    value="Hemisphere.NORTH"
    aria-label="Hemisphere Selection"
  >
    <mat-button-toggle
      value="Hemisphere.NORTH"
      (click)="setHemisphereToggleValue(Hemisphere.NORTH)"
      >{{ Hemisphere[Hemisphere.NORTH] }}</mat-button-toggle
    >
    <mat-button-toggle
      value="Hemisphere.SOUTH"
      (click)="setHemisphereToggleValue(Hemisphere.SOUTH)"
      >{{ Hemisphere[Hemisphere.SOUTH] }}</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>
