.header-nav {
  display: flex;
  max-width: 600px;
}

.nav-link {
  padding: 10px;
}

mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
