<div class="header-nav">
  <mat-nav-list class="list-horizontal">
    <a
      mat-list-item
      class="nav-link"
      [routerLink]="'/'"
      [queryParams]="{ session: sessionParam }"
      ><span>LANDING</span></a
    >
    <a
      mat-list-item
      class="nav-link"
      [routerLink]="'/bugs'"
      [queryParams]="{ session: sessionParam }"
      ><span>BUGS</span></a
    >
    <a
      mat-list-item
      class="nav-link"
      [routerLink]="'/fish'"
      [queryParams]="{ session: sessionParam }"
      ><span>FISH</span></a
    >
    <a
      mat-list-item
      class="nav-link"
      [routerLink]="'/sea-creatures'"
      [queryParams]="{ session: sessionParam }"
      ><span>SEA CREATURES</span></a
    >
    <a
      mat-list-item
      class="nav-link"
      [routerLink]="'/songs'"
      [queryParams]="{ session: sessionParam }"
      ><span>SONGS</span></a
    >
  </mat-nav-list>
</div>
