<div class="fish-tracker-view-container">
  <aside class="left-content">
    <button mat-stroked-button (click)="resetFilters()">RESET FILTERS</button>
    <app-collection-filters
      [collectibles]="fish$ | async"
      [resetNameFilterInput]="reset"
      (partialName)="onFilterByName($event)"
      (hemisphereToggleValue)="setHemisphereToggleValue($event)"
    >
    </app-collection-filters>
    <app-collected-filter-toggle
      [filterType]="CollectionStatusFilterType.COLLECTIBLE"
      [resetCollectionStatusFilterType]="reset"
      (collectionStatus)="
        this.setFishCollectionStatusStatusFilter(
          CollectionStatusFilterType.COLLECTIBLE,
          $event
        )
      "
    ></app-collected-filter-toggle>
    <app-collected-filter-toggle
      [filterType]="CollectionStatusFilterType.MODEL"
      [resetCollectionStatusFilterType]="reset"
      (collectionStatus)="
        this.setFishCollectionStatusStatusFilter(
          CollectionStatusFilterType.MODEL,
          $event
        )
      "
    ></app-collected-filter-toggle>
    <app-collected-filter-toggle
      [filterType]="CollectionStatusFilterType.MODEL_SUPPLIES"
      [resetCollectionStatusFilterType]="reset"
      (collectionStatus)="
        this.setFishCollectionStatusStatusFilter(
          CollectionStatusFilterType.MODEL_SUPPLIES,
          $event
        )
      "
    ></app-collected-filter-toggle>
  </aside>
  <section class="right-content">
    <div class="fish-tracker-container">
      <app-creature-tracker
        [collectibles]="fish$ | async"
        [hemisphere]="hemisphere$ | async"
        [partialName]="nameFilter$ | async"
        [collectibleCollectionSubset]="collectionStatusFilter$ | async"
        [modelCollectionSubset]="modelStatusFilter$ | async"
        [modelSuppliesCollectionSubset]="modelSuppliesStatusFilter$ | async"
        (collectibleCollected)="toggleFishCollected($event)"
        (collectibleModelCollected)="toggleFishModelCollected($event)"
        (haveCollectibleModelSupplies)="toggleHaveFishModelSupplies($event)"
      ></app-creature-tracker>
    </div>
  </section>
</div>
