.critter-card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  max-width: 500px;
}

.collection-checks {
  display: flex;
  flex-direction: column;
}

.critter-image img {
  max-width: 64px;
  height: auto;
}
