<div class="critter-card">
  <div class="collection-checks" [formGroup]="collectionForm">
    <span
      ><input
        type="checkbox"
        formControlName="collected"
        (click)="markCritterCollected()"
      />COLLECTED</span
    >
    <span
      ><input
        type="checkbox"
        formControlName="haveModel"
        (click)="markCritterModelCollected()"
      />HAVE MODEL</span
    >
    <span
      ><input
        type="checkbox"
        formControlName="haveModelSupplies"
        (click)="markHaveCritterModelSupplies()"
      />HAVE SUPPLIES</span
    >
  </div>
  <div class="critter-image">
    <img [src]="imageSrc" />
  </div>
  <div class="critter-info">
    <div>{{ critter.name }}</div>
    <div>L: {{ getLocation() }}</div>
    <div>M: {{ getMonths() }}</div>
    <div>T: {{ getTimes() }}</div>
    <div>$: {{ critter.price }}</div>
    <div>#: {{ critter.index }}</div>
  </div>
</div>
