<div class="critter-card">
  <div class="collection-checks" [formGroup]="collectionForm">
    <span><input type="checkbox" formControlName="collected" />COLLECTED</span>
    <span><input type="checkbox" formControlName="haveModel" />HAVE MODEL</span>
    <!-- <input type="checkbox" formControlName="collected" />
    <input type="checkbox" formControlName="haveModel" /> -->
  </div>
  <div class="critter-image">
    <img [src]="imageSrc" />
  </div>
  <div class="critter-info">
    <span>{{ critter.name }}</span>
  </div>
</div>
