<div class="app-container mat-typography mat-app-background light-theme">
  <div class="app-component-header">
    <h1>ACNH Tracker</h1>
    <button mat-stroked-button (click)="resetTracker()">RESET TRACKER</button>
  </div>
  <form *ngIf="encodedSessionData">
    <mat-form-field class="session-input-form">
      <mat-label>Session Data:</mat-label>
      <input
        matInput
        class="session-input"
        type="text"
        [ngClass]="sessionDataInputClasses"
        [(ngModel)]="encodedSessionData"
        name="encodedSessionData"
        (ngModelChange)="updateSessionDataEntry($event)"
      />
    </mat-form-field>
  </form>
  <header-nav [sessionParam]="sessionQueryParam | async"></header-nav>
  <router-outlet></router-outlet>
</div>
