<div class="app-container mat-typography mat-app-background light-theme">
  <div class="app-component-header">
    <h1>ACNH Tracker</h1>
    <button mat-stroked-button (click)="resetTracker()">RESET TRACKER</button>
    <button mat-stroked-button (click)="showSessionForm = !showSessionForm">
      TOGGLE SESSION INPUT
    </button>
  </div>

  <div *ngIf="showSessionForm">
    <form *ngIf="encodedSessionData">
      <mat-form-field class="session-input-form">
        <mat-label>Session Data:</mat-label>
        <textarea
          matInput
          class="session-input"
          type="text"
          [ngClass]="sessionDataInputClasses"
          [(ngModel)]="encodedSessionData"
          name="encodedSessionData"
          (ngModelChange)="updateSessionDataEntry($event)"
        ></textarea>
      </mat-form-field>
    </form>
  </div>

  <app-header-nav [sessionParam]="sessionQueryParam | async"></app-header-nav>
  <router-outlet></router-outlet>
</div>
