<mat-sidenav-container class="bug-tracker-view-container">
  <mat-sidenav mode="side" opened class="left-content">
    <app-collection-filters></app-collection-filters>
    <app-collected-filter-toggle></app-collected-filter-toggle>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="right-content">
      <div class="bug-tracker-container">
        <app-creature-tracker
          [creatures]="creatures$ | async"
          (creatureCollected)="toggleBugCollected($event)"
          (creatureModelCollected)="toggleBugModelCollected($event)"
          (haveCreatureModelSupplies)="toggleHaveBugModelSupplies($event)"
        ></app-creature-tracker>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
