<div class="song-tracker-view-container">
  <aside class="left-content">
    <button mat-stroked-button (click)="resetFilters()">RESET FILTERS</button>
    <app-collection-filters
      [collectibles]="songs$ | async"
      [resetNameFilterInput]="reset"
      (partialName)="onFilterByName($event)"
    >
    </app-collection-filters>
    <app-collected-filter-toggle
      [filterType]="CollectionStatusFilterType.COLLECTIBLE"
      [collectionSubset]="collectionStatusFilter$ | async"
      [resetCollectionStatusFilterType]="reset"
      (collectionStatus)="
        this.setSongCollectionStatusStatusFilter(
          CollectionStatusFilterType.COLLECTIBLE,
          $event
        )
      "
    ></app-collected-filter-toggle>
  </aside>
  <section class="right-content">
    <div class="song-tracker-container">
      <app-creature-tracker
        [collectibles]="songs$ | async"
        [partialName]="nameFilter$ | async"
        [cardStyle]="cardStyle$ | async"
        [collectibleCollectionSubset]="collectionStatusFilter$ | async"
        (collectibleCollected)="toggleSongCollected($event)"
        (selectedCardStyle)="toggleSongCardStyle($event)"
      ></app-creature-tracker>
    </div>
  </section>
</div>
