<div class="collectible-card">
  <div class="collection-checks" [formGroup]="collectionForm">
    <span
      ><input
        type="checkbox"
        formControlName="collected"
        (click)="toggleCollectibleCollected()"
      />COLLECTED</span
    >
  </div>
  <div class="collectible-image" *ngIf="imageSrc">
    <img [src]="imageSrc" />
  </div>
  <div class="collectible-info">
    <div>{{ collectible.name }}</div>
    <div>$: {{ collectible.price }}</div>
    <div>#: {{ collectible.index }}</div>
  </div>
</div>
