<div class="creature-card">
  <div class="collection-checks" [formGroup]="collectionForm">
    <span
      ><input
        type="checkbox"
        formControlName="collected"
        (click)="markCreatureCollected()"
      />COLLECTED</span
    >
    <span *ngIf="creature.haveModel !== undefined"
      ><input
        type="checkbox"
        formControlName="haveModel"
        (click)="markCreatureModelCollected()"
      />HAVE MODEL</span
    >
    <span *ngIf="creature.haveModelSupplies !== undefined"
      ><input
        type="checkbox"
        formControlName="haveModelSupplies"
        (click)="markHaveCreatureModelSupplies()"
      />HAVE SUPPLIES</span
    >
  </div>
  <div class="creature-image">
    <img [src]="imageSrc" />
  </div>
  <div class="creature-info">
    <div>{{ creature.name }}</div>
    <div *ngIf="creature.location !== undefined">L: {{ getLocation() }}</div>
    <div>M: {{ getMonths() }}</div>
    <div>T: {{ getTimes() }}</div>
    <div *ngIf="creature.size !== undefined">Sz: {{ getSize() }}</div>
    <div *ngIf="creature.swimStyle !== undefined">St: {{ getSwimStyle() }}</div>
    <div>$: {{ creature.price }}</div>
    <div>#: {{ creature.index }}</div>
  </div>
</div>
