.collectible-card {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px 10px 10px 10px;
}

.collection-checks {
  display: flex;
  flex-direction: column;
}

.collectible-image img {
  max-width: 64px;
  height: auto;
}
