<mat-card class="creature-card" [formGroup]="collectionForm">
  <div class="collection-checks" [formGroup]="collectionForm">
    <span>
      <mat-checkbox
        formControlName="collected"
        (click)="markCreatureCollected()"
        >COLLECTED</mat-checkbox
      >
    </span>
    <span *ngIf="creature.haveModel !== undefined">
      <mat-checkbox
        formControlName="haveModel"
        (click)="markCreatureModelCollected()"
        >HAVE MODEL</mat-checkbox
      >
    </span>
    <span *ngIf="creature.haveModelSupplies !== undefined">
      <mat-checkbox
        type="checkbox"
        formControlName="haveModelSupplies"
        (click)="markHaveCreatureModelSupplies()"
        >HAVE SUPPLIES</mat-checkbox
      >
    </span>
  </div>
  <div class="creature-image">
    <img [src]="imageSrc" />
  </div>
  <div class="creature-info">
    <div>{{ creature.name }}</div>
    <div *ngIf="creature.location !== undefined">L: {{ getLocation() }}</div>
    <div>M: {{ getMonths() }}</div>
    <div>T: {{ getTimes() }}</div>
    <div *ngIf="creature.size !== undefined">Sz: {{ getSize() }}</div>
    <div *ngIf="creature.swimStyle !== undefined">St: {{ getSwimStyle() }}</div>
    <div>$: {{ creature.price }}</div>
    <div>#: {{ creature.index }}</div>
  </div>
</mat-card>
