<mat-card
  *ngIf="cardStyle === CardStyle.DETAILS"
  class="collectible-card card-style-details"
  [formGroup]="collectionForm"
>
  <div class="collection-checks" [formGroup]="collectionForm">
    <mat-checkbox
      formControlName="collected"
      (click)="markCollectibleCollected()"
      >COLLECTED</mat-checkbox
    >
    <mat-checkbox
      *ngIf="collectible.haveModel !== undefined"
      formControlName="haveModel"
      (click)="markCollectibleModelCollected()"
      >HAVE MODEL</mat-checkbox
    >
    <mat-checkbox
      *ngIf="collectible.haveModelSupplies !== undefined"
      type="checkbox"
      formControlName="haveModelSupplies"
      (click)="markHaveCollectibleModelSupplies()"
      >HAVE SUPPLIES</mat-checkbox
    >
  </div>
  <div class="collectible-image">
    <img [src]="imageSrc" />
  </div>
  <div class="collectible-info">
    <div>{{ collectible.name }}</div>
    <div *ngIf="collectible.location !== undefined">L: {{ getLocation() }}</div>
    <div
      *ngIf="collectible.monthsActive !== undefined"
      [ngClass]="{ 'creature-active': isActiveMonth() }"
    >
      Mo: {{ getMonths() }}
    </div>
    <div
      *ngIf="collectible.timesActive !== undefined"
      [ngClass]="{ 'creature-active': isActiveTime() }"
    >
      T: {{ getTimes() }}
    </div>
    <div *ngIf="collectible.size !== undefined">
      Sz: {{ SilhouetteSize[collectible.size] }}
    </div>
    <div *ngIf="collectible.swimStyle !== undefined">
      St: {{ SwimStyle[collectible.swimStyle] }}
    </div>
    <div>$: {{ collectible.price }}</div>
    <div>#: {{ collectible.index }}</div>
    <div *ngIf="collectible.mood !== undefined">
      Md: {{ SongMood[collectible.mood] }}
    </div>
  </div>
</mat-card>
<mat-card
  *ngIf="cardStyle === CardStyle.SMALL"
  class="collectible-card card-style-small"
  [formGroup]="collectionForm"
>
  <div class="collectible-info">
    <div
      class="collectible-name"
      [ngClass]="{ 'creature-active': isActiveMonth() && isActiveTime() }"
    >
      {{ collectible.name }}
    </div>
    <div>#: {{ collectible.index }}</div>
  </div>
  <div class="collectible-image">
    <img [src]="imageSrc" />
  </div>
  <div class="collection-checks" [formGroup]="collectionForm">
    <div class="collection-check">
      <mat-label>C</mat-label>
      <mat-checkbox
        formControlName="collected"
        (click)="markCollectibleCollected()"
      ></mat-checkbox>
    </div>
    <div class="collection-check" *ngIf="collectible.haveModel !== undefined">
      <mat-label>M</mat-label>
      <mat-checkbox
        formControlName="haveModel"
        (click)="markCollectibleModelCollected()"
      ></mat-checkbox>
    </div>
    <div
      class="collection-check"
      *ngIf="collectible.haveModelSupplies !== undefined"
    >
      <mat-label>S</mat-label>
      <mat-checkbox
        type="checkbox"
        formControlName="haveModelSupplies"
        (click)="markHaveCollectibleModelSupplies()"
      >
      </mat-checkbox>
    </div>
  </div>
</mat-card>
