@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: "Rodin Camille Pro B";
  src: url("./assets/fonts/FOT-RodinCamille Pro B.otf") format("opentype");
}

@font-face {
  font-family: "Seurat Pro B";
  src: url("./assets/fonts/FOT-Seurat Pro B.otf") format("opentype");
}

/* * {
  background-color: #dbd670;
  background-image: url("./assets/cream-dust.png");
  font-family: "Seurat Pro B";
  font-style: italic;
} */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-nav .mat-list-item-content {
  justify-content: center;
  span {
    text-align: center;
  }
}
