/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Rodin Camille Pro B";
  src: url("./assets/fonts/FOT-RodinCamille Pro B.otf") format("opentype");
}

@font-face {
  font-family: "Seurat Pro B";
  src: url("./assets/fonts/FOT-Seurat Pro B.otf") format("opentype");
}

* {
  background-color: #dbd670;
  background-image: url("./assets/cream-dust.png");
  font-family: "Seurat Pro B";
  font-style: italic;
}
