<div *ngIf="_collectibles.length" class="collectible-tracker-container">
  <app-collectible-card
    *ngFor="let collectible of filteredCollectibles"
    [collectible]="collectible"
    [hemisphere]="hemisphere"
    (collectibleCollected)="markCollectibleCollected($event)"
    (collectibleModelCollected)="markCollectibleModelCollected($event)"
    (haveCollectibleModelSupplies)="markHaveCollectibleModelSupplies($event)"
  ></app-collectible-card>
</div>
<div *ngIf="!filteredCollectibles.length">
  NO COLLECTIBLES
</div>
