<div class="sea-creature-tracker-view-container">
  <aside class="left-content">
    <button mat-stroked-button (click)="resetFilters()">RESET FILTERS</button>
    <app-collection-filters
      [collectibles]="collection$ | async"
      [resetNameFilterInput]="reset"
      (partialName)="onFilterByName($event)"
    >
    </app-collection-filters>
    <app-hemisphere-toggle
      [currentHemisphere]="hemisphere$ | async"
      (hemisphereToggleValue)="setHemisphereToggleValue($event)"
    ></app-hemisphere-toggle>
    <app-collected-filter-toggle
      [filterType]="CollectionStatusFilterType.COLLECTIBLE"
      [collectionSubset]="collectionStatusFilter$ | async"
      [resetCollectionStatusFilterType]="reset"
      (collectionStatus)="
        this.setSeaCreatureCollectionStatusStatusFilter(
          CollectionStatusFilterType.COLLECTIBLE,
          $event
        )
      "
    ></app-collected-filter-toggle>
  </aside>
  <section class="right-content">
    <div class="sea-creature-tracker-container">
      <app-creature-tracker
        [collectibles]="collection$ | async"
        [hemisphere]="hemisphere$ | async"
        [partialName]="nameFilter$ | async"
        [cardStyle]="cardStyle$ | async"
        [collectibleCollectionSubset]="collectionStatusFilter$ | async"
        [modelCollectionSubset]="modelStatusFilter$ | async"
        [modelSuppliesCollectionSubset]="modelSuppliesStatusFilter$ | async"
        (collectibleCollected)="toggleSeaCreatureCollected($event)"
        (selectedCardStyle)="toggleSeaCreatureCardStyle($event)"
      ></app-creature-tracker>
    </div>
  </section>
</div>
